<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="body">
    <div class="jumbotron">
        <a class="col-md-12" href="/days/"><h1 id="daysheader">days</h1></a>
    </div>

    <div class="container">
        <div class="page">
            <nav th:replace="fragments :: navigation"></nav>
            <div class="entries">
                <ul th:each="line : ${bundles}">

                    <p class="tooltiptext" data-toggle="tooltip"
                       data-placement="left"
                       th:utext="${#strings.substring(line,11)}"
                       th:title="${#strings.substring(line,0,10)}"></p>

                </ul>



            </div>
        </div>
    </div>
</body>
</html>