<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">days</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/loginRequest.css}"/>

</head>

<body class="body">
<div class="page">

    <h1 th:text="${title}">Days</h1>
    <h3>Register</h3>
    <br/>
    <div class="entriesform" >

        <form method = "post" th:object="${user}">
            <label  th:for="username">Username </label>
            <input class="form-control" th:field="*{username}" name="username" />
            <span th:text = "${usernameError}"></span>

            <span th:errors="*{username}" class="error"></span> <br />

            <label  th:for="password">Password </label>
            <input class="form-control" type="password" th:field="*{password}" name="password" />
            <span th:errors="*{password}" class="error"></span> <br />

            <label  th:for="verify">Verify Password </label>
            <input class="form-control" type="password" th:field="*{verify}" name="verify" />
            <span th:errors="*{verify}" class="error"></span> <br />

            <label th:for="email">Email </label>
            <input  class="form-control" type="email" th:field="*{email}" name="email" />
            <span th:errors="*{email}" class="error"></span>
            <br />
            <input class="button"  type="submit" value="Sign Up" />
            <p th:text = "${verifyError}"/>
            <br/>
            <a href="/user/login">Login</a>
        </form>
    </div>
</div>
</body>

</html>