<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<div class="page">

    <h1 id="daysheader"  class="col-md-12"  th:text="${title}"></h1>
    <h1>Sign Up</h1>

    <div class="form-group col-md-8" >

    <form id="enter" method = "post" th:object="${user}">

        <h3 th:for="username">Username </h3>
        <input class="form-control" th:field="*{username}" name="username" /> <span th:text = "${usernameError}"></span>

        <span th:errors="*{username}" class="error"></span>

        <h3 th:for="password">Password </h3>
        <input class="form-control" type="password" th:field="*{password}" name="password" />
        <span th:errors="*{password}" class="error"></span>

        <h3 th:for="verify">Verify Password </h3>
        <input class="form-control" type="password" th:field="*{verify}" name="verify" />
        <span th:errors="*{verify}" class="error"></span>
        <p th:text = "${verifyError}"/>

        <h3 th:for="email">Email </h3>
        <input class="form-control" type="email" th:field="*{email}" name="email" />
        <span th:errors="*{email}" class="error"></span>
            <br/>
            <br/>
        <input class="button"  type="submit" value="register" />

    </form>
    </div>
</div>
</body>

</html>
