<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body>
<div class="page">

    <h1 th:text="${title}">Days</h1>
    <br />
    <br />
    <div class="form-group col-md-8" >

        <form id="enter" method = "post" th:object="${login}" >
            <h3 th:for="username">Username </h3>
                <input class="form-control"  th:field="*{username}" name="username" />
                <span th:errors="*{username}" class="error"></span>
            <h3 th:for="password">Password </h3>
                <input class="form-control" type="password" th:field="*{password}" name="password" />
                <span th:errors="*{password}" class="error"></span> <br />

            <input class="button" type="submit" value="lolgin" /> <br />
                <br/>
                <p th:text = "${verifyError}"/>
        </form>
        <br/>
        <a href="/user/add">Create a user account.</a>

    </div>
</div>
</body>

</html>