<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">days</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/loginRequest.css}"/>

</head>


<body class="body">
<div class="page">

    <h1 th:text="${title}">Days</h1>
    <br />
    <br />
    <form method = "post" th:object="${login}" >
        <label class="form" th:for="username">Username </label>
        <input th:field="*{username}" name="username" />
        <span th:errors="*{username}" class="error"></span> <br /><br />

        <label class="form" th:for="password">Password </label>
        <input type="password" th:field="*{password}" name="password" />
        <span th:errors="*{password}" class="error"></span> <br /><br />

        <input class="button" type="submit" value="Login" /> <br />
        <p th:text = "${verifyError}"/>
    </form>
    <br/>
    <a href="/user/add">Create a user account.</a>


</div>
</body>

</html>