<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body>
<div class="page">

    <h1 th:text="${title}">Days</h1>
    <br />
    <br />
    <form method = "post" th:object="${login}" >
        <label th:for="username">Username </label>
        <input type="text" th:field="*{username}" name="username" />
        <span th:errors="*{username}" class="error"></span> <br /><br />

        <label th:for="password">Password </label>
        <input type="password" th:field="*{password}" name="password" />
        <span th:errors="*{password}" class="error"></span> <br /><br />

        <input class="button" type="submit" value="Login" /> <br />
        <p th:text = "${verifyError}"/>
    </form>
    <br/>
    <a href="/user/add">Create a user account.</a>


</div>
</body>

</html>