<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<div class="page">
    <h1 th:text="${title}">User Preferences</h1>

    <form method="post">
        <input type="radio" class="mint" name="color" value="mint"/> This one <br/>
        <input type="radio" class="orange" name="color" value="orange"/> This one <br/>
        <input type="radio" class="kellygreen" name="color" value="kellygreen"/> This one <br/>
        <input type="radio" class="navy" name="color" value="navy"/> This one <br/>
        <input type="radio" class="purple" name="color" value="purple"/> This one <br/>
        <input type="radio" class="burgundy" name="color" value="burgundy"/> This one <br/>
        <input type="radio" class="mustard" name="color" value="mustard"/> This one <br/>

        <input class="button" type="submit" value="go" /> <br/>
    </form>

    .mint{
    color: #03af8d;
    }
    .orange{
    color: #af4803;
    }
    .kellygreen{
    color: #02af11;
    }
    .navy{
    color: #000547;
    }
    .purple{
    color: #5a0175;
    }
    .burgundy{
    color: #6d0026;
    }
    .mustard{
    color: #6d4e00;
    }

</div>
</body>
</html>