<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body class="body">
<div class="container">
    <div class="page">

        <a class="col-md-12" href="/days/"><h1 id="daysheader">days</h1></a>
        <h1>User Settings</h1>
        <nav th:replace="fragments :: navigation"></nav>


        <div class="form-group">
            <div class="form col-md-4">

                <form method = "post" th:object="${settingsForm}" >
                    <h3>Theme</h3>
                    <input type="radio" th:field="*{theme}" th:value="Galaxy" name="Galaxy" /> Galaxy
                    <br/>
                    <input type="radio" th:field="*{theme}" th:value="Daytime" name="Daytime" /> Daytime
                    <span th:errors="*{theme}" class="error"></span> <br /><br />

                    <h3>Notifications</h3>
                    <input type="radio" th:field="*{notifications}" th:value="On" name="On"/> On
                    <br/>
                    <input type="radio" th:field="*{notifications}" th:value="Off" name="Off" /> Off
                    <span th:errors="*{notifications}" class="error"></span> <br /><br />


                    <h3>Update E-mail</h3>
                    <input class="form-control" type="email" th:value="${email}" name="email" />
                    <span th:errors="*{email}" class="error"></span> <br /><br />

                    <input class="button" type="submit" value="Save" /> <br />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>