/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: orator;
    src: url("/css/OratorStd-Slanted.otf");
}

.mint{
    color: #03af8d;
}
.orange{
    color: #af4803;
}
.kellygreen{
    color: #02af11;
}
.navy{
    color: #000547;
}
.purple{
    color: #5a0175;
}
.burgundy{
    color: #6d0026;
}
.mustard{
    color: #6d4e00;
}

/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
}

.body {
	background-color: #b0e1d9;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

span{
    color: #4bdca3;
    font-size: 14px;
}

.caption{
    font-size: 12px;
}

img{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.page{
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    width: 800px;
}

.entries{
    margin-top: 10px;
    margin: auto;
    color: #364745;
    font-size: 16px;
    font-family: Andale Mono;

}

.archive{
    margin-top: 40px;
    color: #3eb149;
}


#daysheader{
    font-family: orator;
    font-size: 200px;
    text-align: center;
    color: black;
    margin-top: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


a{
    text-decoration:none;
    color:grey;
}

a:hover{
    text-decoration: none;
    color: black;
}


.tooltiptext + .tooltip > .tooltip-inner  {
    background-color: #789995;
    color: #b0e1d9;
    font-size: 12px;
    font-family: Andale Mono;
}

.tooltiptext + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid #2e3156;
}

.bookend {
    text-align: center;
    font-size: 12px;
    color: grey;
}

.jumbotron{
  height:700px;
  display:flex;
  align-items:center;
  background:url("/images/DaytimeHeader.png") center center;
  background-size:cover;

}

.logout {
    display: inline;
    background: #b0e1d9;
    border: none;
    color: #778899;
    cursor: pointer;
}


nav.a{
    margin-left: auto;
    margin-right: auto;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b0e1d9;
    min-width: 160px;
    z-index: 1;
    font-family: Andale mono;
    font-size: 16px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

.seeyoutomorrow {
    margin-top: 50px;
    font-size: 30px;
    color: #03af8d;
    text-align: center;
    font-family: Andale mono;


}

#enterplus{
    font-size: 80px;
    color: #789995;
    text-decoration: none;
    text-align: center;

}

#enterplus:hover {
    text-decoration: none;
    color: black;
}

#enter{
    color: #789995;
    font-size: 16px;
    font-family: Andale Mono;
}

#formAlert {
    color: #03af8d;
    font-size: 14px;
}

h3{
    font-family: orator;
    color: black;
    font-size: 18px;
}

h1{
    margin-top: 100px;
    font-family: orator;
    font-size: 70px;
    color:  #789995;
    text-align: center;
}

.form {
    margin-top: 30px;
    position: absolute;
    text-alignment: center;
    color:  #789995;
    font-size: 14px;
    font-family: Andale Mono;

}