<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">days</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:if="${#strings.contains(userPref, 'Galaxy')}" rel="stylesheet" th:href="@{/css/galaxy.css}"/>
    <link th:if="${#strings.contains(userPref, 'Daytime')}" rel="stylesheet" th:href="@{/css/daytime.css}"/>
    <link th:unless="${userPref}" rel="stylesheet" th:href="@{/css/loginRequest.css}"/>





</head>
<body>

<nav th:fragment="navigation">
    <span class="pull-right">

    <div class="dropdown">
        <img th:if="${#strings.contains(userPref, 'Galaxy')}" src="/images/orb.png" alt="orb menu" width="50" height="50"/>
        <img th:if="${#strings.contains(userPref, 'Daytime')}" src="/images/daytimeorb.png" alt="orb menu" width="50" height="50"/>

        <div class="dropdown-content">
            <br/>
            <a href="/days/about"> &nbsp;about</a>
            <br/>
            <br/>
            <a href="/days/archive"> &nbsp;archive</a>
            <br/>
            <br/>
            <a href="/user/settings"> &nbsp;settings</a>
            <br/>
            <br/>
            <form action="/user/logout" method="post">
                <input type="submit" class="logout" value="Logout" />
            </form>
        </div>
    </div>

    </span>

</nav>

</body>
</html>