<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body class = "body">

<div class="jumbotron">
    <a class="col-md-12" href="/days/"><h1 id="daysheader">days</h1></a>
</div>

<div class="container">
<div class="page">

    <nav th:replace="fragments :: navigation"></nav>

    <p class="seeyoutomorrow" th:unless="${todayEntry} and ${todayEntry.size()}">- See you for tomorrow's post -</p>

    <div class="entriesform">
        <a href="#enter" id="enterplus" data-toggle="collapse">+</a>

        <form id="enter" class="collapse" method="post" th:object="${entry}">
            <!--<form th:if="${todayEntry} and ${todayEntry.size()}" method="post" th:object="${entry}">-->
            <div class="form-group" >
                <label th:for="entryText">Entry</label>
                <input class="form-control" th:field="*{entryText}" />
                <span th:errors="*{entryText}" class="error"></span>
            </div>
            <input type="submit" value="add" />
        </form>
    </div>

    <div class="entries">
        <div class="col-md-12">

        </div>
        <br/>
        <br/>
        <br/>
        <p class="bookend">_________________________________</p>
        <br/>
        <br/>
        <ul th:each="entry : ${entries}">
            <p class="tooltiptext" data-toggle="tooltip" data-placement="left" th:title="${entry.getDate()}"
               th:if="${#strings.isEmpty(entry.getEntryText())}">
                &nbsp;
            </p>

            <p class="tooltiptext" data-toggle="tooltip" data-placement="left" th:title="${entry.getDate()}"
               th:text="${entry.getEntryText()}">
            </p>

        </ul>

        <div class="tooltip">Hover over me
            <span class="tooltiptext">Tooltip text</span>
        </div>

        <br/>
        <br/>
        <p class="bookend">...</p>


    </div>
</div>
</div>


</body>
</html>