<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<p th:unless="${todayEntry} and ${todayEntry.size()}">See you for tomorrow's post :)</p>

<form th:if="${todayEntry} and ${todayEntry.size()}" method="post" th:object="${entry}">

    <div class="form-group">
        <label th:for="entryText">Entry</label>
        <input class="form-control" th:field="*{entryText}" />
        <span th:errors="*{entryText}" class="error"></span>
    </div>


    <input type="submit" value="add entryText" />
</form>

<ul th:each="entry : ${entries}">
    <p th:text="${entry.getEntryText()}"></p>
</ul>
<br/>
<form action="/user/logout" method="post">
    <input type="submit" class="logout" value="Logout" />
</form>
</body>
</html>