<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body class = "body">

<!--Header in jumbotron - links to home.-->
<div class="jumbotron">
    <a class="col-md-12" href="/days/"><h1 id="daysheader">days</h1></a>
</div>

<div class="container">
<div class="page">

    <nav th:replace="fragments :: navigation"></nav>

    <p class="seeyoutomorrow col-md-12" th:if="${todayEntry} and ${todayEntry.size()}">- See you for tomorrow's post -</p>



    <!--entries form-->
    <div class="entriesform">
        <a href="#enter" id="enterplus" data-toggle="collapse"
           th:unless="${todayEntry} and ${todayEntry.size()}">+</a>

         <form id="enter" class="collapse" name="entryForm"
                th:unless="${todayEntry} and ${todayEntry.size()}"
                method="post" th:object="${entry}"
                onsubmit="return validateForm()">

            <div class="form-group" >
                <label th:for="entryText">Entry</label>
                <input name="entryText" class="form-control" th:field="*{entryText}" />
                <span th:errors="*{entryText}" class="error"></span>
            </div>

             <div id="formAlert" class="collapse">
                 <a class="close">×</a>
                 <p>Entries must be 3 to 300 characters.</p>
             </div>

            <input type="submit" value="add" />

        </form>


    </div>

    <!--entries-->
    <div class="entries">
        <div class="col-md-12">

        </div>
        <br/>
        <br/>
        <br/>
        <p class="bookend">_________________________________</p>
        <br/>
        <br/>
        <ul th:each="entry : ${entries}">
            <p class="tooltiptext" data-toggle="tooltip" data-placement="left" th:title="${entry.getDate()}"
               th:if="${#strings.isEmpty(entry.getEntryText())}">
                &nbsp;
            </p>

            <!--date tooltips-->
            <p class="tooltiptext" data-toggle="tooltip" data-placement="left" th:title="${entry.getDate()}"
               th:text="${entry.getEntryText()}">
            </p>

        </ul>

        <br/>
        <br/>
        <p class="bookend">...</p>


    </div>
</div>
</div>


</body>
</html>