<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="body">
<div class="jumbotron">
    <a class="col-md-12" href="/days/"><h1 id="daysheader">days</h1></a>
</div>

<div class="container">
    <div class="page">
        <nav th:replace="fragments :: navigation"></nav>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-md-10" >

            <h3>
                    Days is a versatile line-a-day journal and log.
                    <br/>
                    <br/>
                    Reflect on your day, write a story a line at a time, create one solid goal for the day -- Up to 300 characters daily to essentialize your thoughts.
                    <br/>
                    <br/>
                    No editing.  No deletes.  Post with conviction -- or just for fun.
                    <br/>
                    <br/>
                    ____________________________________
                    <br/>
                    <br/>
                    A blank line is logged if you haven’t posted by 11:59pm each day.
                    <br/>
                    <br/>
                    After 100 posts, your entries are archived, giving you a clean slate to embark on another 100 Days.

                </h3>
        </div>
    </div>
</div>
</body>
</html>